{% extends 'header.html' %}

{% block content %}

<div class="row">
    <div class="col-md-8">
    <h1>Edit post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
          <label for="title">Title:</label>
          <input id="title" name="title" type="text" class="form-control" aria-describedby="title" value="{{form.title.value}}">
        </div>

        <div class="input_fields_wrap" style="margin-top:50px">
            <button type="button" class="add_field_button btn btn-primary" style="margin-bottom:20px">Add Ingredient</button>
            {% for ingred, amount in form.ingredients.value.items %}
                <div class="input-group" style="margin-bottom: 10px">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Ingredient and Amount</span>
                    </div>
                    <input type="text" class="form-control" name="ingred[]" value="{{ingred}}" placeholder="Ingredient">
                    <input type="text" class="form-control" name="amount[]" value="{{amount}}" placeholder="Amount">
                    <button type="button" class="remove-field btn btn-danger">Remove</button>
                </div>
            {% endfor %}
        </div>

        <div class="form-group" style="margin-top:50px">
          <label for="content">Description:</label>
          <input id="content" name="content" type="text" class="form-control content" aria-describedby="content" value="{{form.content.value}}" >

        </div>

        <button type="submit" class="save btn btn-success">Save</button>
        <a href="{% url 'post_list' %}"><button type="button" class="btn btn-secondary margin">Cancel</button></a>
    </form>
</div>

<script>
$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append(`<div class="input-group" style="margin-bottom: 10px">
                <div class="input-group-prepend">
                    <span class="input-group-text">Ingredient and Amount</span>
                </div>
                <input type="text" class="form-control" name="ingred[]" placeholder="Ingredient">
                <input type="text" class="form-control" name="amount[]"  placeholder="Amount">
                <button type="button" class="remove-field btn btn-danger">Remove</button>
            </div>`).children(':last').hide().fadeIn(500); //add input box
        }
    });

    $(wrapper).on("click",".remove-field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    });
});
</script>
{% endblock %}
